<div class="section" data-target="drag-and-drop.id" data-id="<%= section.id %>" data-position="<%= section.position %>">
  <div class="handle">
    <i class="fas fa-grip-vertical"></i>
  </div>
  <div class="section-content">
    <%= render Links::CardComponent.with_collection(section.links) %>
  </div>
  <%= render Links::FormComponent.new(link: Link.new, section: section) %>
</div>
