<div class="section" data-target="drag-and-drop.id" data-id="<%= section.id %>" data-position="<%= section.position %>">
  <div class="handle">
    <i class="fas fa-grip-vertical"></i>
  </div>
  <div class="section-content">
    ID <%= section.id %>
    <br>
    POSITION <%= section.position %>
  </div>
</div>
