<div class="dashboard-container">
  <div class="left-nav">
    LEFT NAV
  </div>
  <div class="main" data-controller="drag-and-drop" data-drag-url="/sections/:id/move">
    <%= render Dashboards::SectionComponent.with_collection(@dashboard.sections) %>
  </div>
</div>
