<div class="dashboard-container" data-controller="drag-and-drop" data-drag-url="/section/:id/move">
  <% @dashboard.sections.each do |section| %>
    <div class="card card-body" draggable="true" data-id="<%= section.id %>"=>
      <%= section %>
    </div>
  <% end %>
</div>
