<div class="dashboard-container" data-controller="drag-and-drop" data-drag-url="/sections/:id/move">
  <% @dashboard.sections.each do |section| %>
    <div class="section card card-body m-1" draggable="true" data-target="drag-and-drop.id" data-id="<%= section.id %>" data-position="<%= section.position %>"=>
      section
    </div>
  <% end %>
</div>

<style>
  .dashboard-container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
  }
  .section {
    width: 100%;
  }
</style>
