.dashboard-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  .left-nav {
    height: 100%;
    grid-column: 1 / 2;
    background-color: #fff;
    border-radius: 6px;
    margin: 2px;
    box-shadow: 0 4px 3px -3px grey;
  }
  .main {
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
    .section {
      display: flex;
      background: #fff;
      padding: 24px 24px 24px 0;
      margin: 2px;
      border-radius: 6px;
      box-shadow: 0 4px 3px -3px grey;
      width: 100%;
      .handle {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 24px;
        .fa-grip-vertical {
          color: gray;
          font-size: 20px;
        }
      }
      .section-content {
        width: 100%;
      }
    }
  }
}
